# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
broadcast/

# Misc
metadata/
assets/
Makefile

# Test file
DeployMoodDynamicNFTTest.t.sol

# Backup
MoodDynamicNFT_backup.sol.bak
